* {
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

body {
    width: 100%;
    height: 0;
    padding: 0;
    margin: 0;
    background: #eee;

    background: url(../images/bookStretchedTop.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    min-block-size: fit-content;
    margin: 4%;
}

label {
    font-size: 24px;
    /*margin-top: 2%;*/
}

p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 2%;
}

textarea {
    width: 80%;
    border: 5px outset #622A0F;
    padding: 15% 0;
    padding-top: 0.5%;
    padding-left: 0.5%;
    margin-bottom: 1px;
    text-align: top left;
    font-size: 20px;
    margin-bottom: 3%;
}

input {
    width: 35%;
    border: 5px outset #622A0F;
    padding: 10px 0;
    margin-bottom: 1%;
    text-align: center;
    font-size: 20px;
}

button {
    display: inline-block;
    padding: 15px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #622A0F;
    border-radius: 10px;
    box-shadow: 0 9px #999;
    min-block-size: fit-content; 
    width: 30%;
}

button:hover {
    background-color: rgb(133, 58, 21);
}

button:active {
  background-color: rgb(68, 30, 11);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: rgba(255, 255, 255, 0.801)
}