body{
	background: url(book.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#text{
	font-size: 16;
}

.button{
    font-size: 1rem;
    background: transparent;
    color: white;
    border: gray solid 2px;
    border-radius: 10px;
}