* {
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

body{
    width: 100%;
    height: 0;
    padding: 0;
    margin: 0;
    background: #eee;

	background: url(../images/bookStretchedTop.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    min-block-size: fit-content;
    margin: 8%;
    margin-bottom: -110px;
}

label {
    font-size: 24px;
    margin-bottom: 15px;
    /*margin-top: 2%;*/
}

input[type="submit"] {
    display: inline-block;
    padding: 15px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #622A0F;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
    margin-top: 15px;
    margin-bottom: 20px;
    min-block-size: fit-content; 
    width: 30%;
}

input[type="submit"]:hover {
    background-color: rgb(133, 58, 21);
}

input[type="submit"]:active {
  background-color: rgb(68, 30, 11);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: rgba(255, 255, 255, 0.801)
}