* {
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

body {
    width: 100%;
    height: 0;
    padding: 0;
    margin: 0;
    background: #eee;

    background: url(../images/bookStretchedTop.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    min-block-size: fit-content;
    margin: 10%;
}

label {
    font-size: 24px;
    /*margin-top: 2%;*/
}

p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 2%;
}